apiVersion: v2
name: clowarden
description: CLOWarden is a tool that manages access to resources across multiple services
type: application
version: 0.1.4-2
appVersion: 0.1.3
kubeVersion: ">= 1.19.0-0"
home: https://clowarden.io
icon: https://raw.githubusercontent.com/cncf/clowarden/main/docs/logo/logo.png
keywords:
  - clowarden
maintainers:
  - name: Sergio
    email: tegioz@icloud.com
  - name: Cintia
    email: cynthiasg@icloud.com
dependencies:
  - name: postgresql
    version: 8.2.1
    repository: https://charts.helm.sh/stable
    condition: postgresql.enabled
annotations:
  artifacthub.io/category: skip-prediction
  artifacthub.io/changes: |
    - kind: added
      description: Webhook secret fallback for key rotation
    - kind: added
      description: Set audit index document cache max size
    - kind: added
      description: Build linux/arm64 images
    - kind: changed
      description: Bump Alpine to 3.20.2
    - kind: changed
      description: Upgrade backend and frontend dependencies
  artifacthub.io/images: |
    - name: dbmigrator
      image: public.ecr.aws/g6m3a0y9/clowarden-dbmigrator:v0.1.3
    - name: server
      image: public.ecr.aws/g6m3a0y9/clowarden-server:v0.1.3
  artifacthub.io/links: |
    - name: source
      url: https://github.com/cncf/clowarden
    - name: support
      url: https://github.com/cncf/clowarden/issues
